[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyexcel = "*"
pyexcel-xls = "*"
pyexcel-xlsx = "*"
pandas = "*"
requests = "*"
cx-oracle = "*"

[dev-packages]

[requires]
python_version = "3.10"
